 <!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<title>Update Note</title>

     <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
crossorigin="anonymous">
</head>
<body>
				<div class="conntainer">
				<h1>Update Note</h1>
				<form action="#" th:action = "@{/saveNote}" th:object = "${mynote}" method="POST" >
					<input type="hidden" th:field = "*{title}" />
					
					<input type="text" th:field = "*{note}"
					 placeholder="Description" class="form-control mb-4 col-4">
					 
					 <button type="submit" class="btn btn-info col-2">Update Note</button>
					 
				</form>

</body>
</html>